---
import Container from '@/components/Container.astro'
import Navbar from '@/components/Navbar.astro'
import I18NHeaders from '@/i18n/jsonLocales/I18nHeaders.astro'
import { getLanguageFromUrl } from '@/i18n/jsonLocales/utils'
import '@/styles/tailwind.css'
import { cn } from '@/lib/utils'
import BaseHead from '@/components/BaseHead.astro'
import TailwindIndicator from "@/components/tailwind-indicator.astro";
// NOTE: work with { Toaster } from "@/components/ui/sonner" but need to update dark theme
import { Toaster } from "sonner";

type Props = {
  title: string;
  description?: string;
  lang: string;
  mainClass?: string;
  bodyClass?: string;
}

const lang = getLanguageFromUrl(Astro.url)
const { title, description, mainClass, bodyClass } = Astro.props as Props
---

<!doctype html>
<html lang={lang} class="scroll-smooth bg-background text-foreground">
  <head>
    <BaseHead title={title} description={description ?? ''} lang={lang} />
    <I18NHeaders />
  </head>
  <body class={cn("flex flex-col min-h-screen", bodyClass)}>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T7CDGRPZ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navbar />
    <Container>
        <main class={cn(mainClass)}>
            <slot />
            <TailwindIndicator />
            <Toaster richColors client:only="react" />
        </main>
    </Container>
  </body>
</html>